

.logo {
    width: 200px;
    height: 117px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoMini {
    width: 80px;
    height: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}